/* navbar */
.navbar{
    background-color: rgb(103, 157, 238);
}
body {
    background-color: rgb(196, 229, 255);
}

.footer {
    background-color: rgb(57, 46, 173);
    color: aliceblue;
}
